In [33]:
import pandas as pd
import numpy as np
import talib

file = 'data/operations_buy-EURUSD-m15-2006-2010.csv'
positions = pd.read_csv(file)
positions.dropna(inplace=True)

positions

,Time,Deal,Symbol,Type,Direction,Volume,Price,Profit
0,2006.01.02 16:45:00,2,EURUSD,buy,in,0.1,1.18290,0.0
1,2006.01.02 23:30:00,3,EURUSD,sell,out,0.1,1.18230,-6.0
2,2006.01.03 06:15:00,4,EURUSD,buy,in,0.1,1.18920,0.0
3,2006.01.09 17:30:00,5,EURUSD,sell,out,0.1,1.20560,164.0
4,2006.01.10 16:30:00,6,EURUSD,buy,in,0.1,1.20760,0.0
...,...,...,...,...,...,...,...,...
697,2010.12.27 06:45:00,699,EURUSD,sell,out,0.1,1.31206,-3.8
698,2010.12.27 11:30:00,700,EURUSD,buy,in,0.1,1.31642,0.0
699,2010.12.29 01:00:00,701,EURUSD,sell,out,0.1,1.30848,-79.4
700,2010.12.30 02:15:00,702,EURUSD,buy,in,0.1,1.32558,0.0
701,2010.12.30 23:59:59,703,EURUSD,sell,out,0.1,1.32901,34.3

In [34]:
aux_positions_1 = pd.DataFrame()
aux_positions_2 = pd.DataFrame()

for row in positions.index:
    if row == 0:
        aux_positions_1 = aux_positions_1.append(positions.loc[row])
    elif (row % 2) == 0:
        aux_positions_1 = aux_positions_1.append(positions.loc[row])
    else:
        aux_positions_2 = aux_positions_2.append(positions.loc[row])

In [35]:
aux_positions_1.reset_index(drop=True, inplace=True)
aux_positions_2.reset_index(drop=True, inplace=True)

In [36]:
positions = pd.concat([aux_positions_1, aux_positions_2], axis=1)

In [37]:
my_columns = ['Entry Date', 'Entry Deal', 'Symbol', 'Entry Type', 
              'Entry Direction', 'Entry Volume', 'Entry Price', 'Entry Profit',
              'Exit Date', 'Exit Deal', 'Exit Symbol', 'Exit Type', 
              'Exit Direction','Exit Volume','Exit Price', 'Exit Profit']

positions.set_axis(my_columns, axis=1, inplace=True)
positions.drop(['Entry Profit', 'Exit Symbol'] , axis=1, inplace=True)

In [38]:
positions['Entry Date'] = pd.to_datetime(positions['Entry Date'])

In [39]:
positions

,Entry Date,Entry Deal,Symbol,Entry Type,Entry Direction,Entry Volume,Entry Price,Exit Date,Exit Deal,Exit Type,Exit Direction,Exit Volume,Exit Price,Exit Profit
0,2006-01-02 16:45:00,2.0,EURUSD,buy,in,0.1,1.18290,2006.01.02 23:30:00,3.0,sell,out,0.1,1.18230,-6.0
1,2006-01-03 06:15:00,4.0,EURUSD,buy,in,0.1,1.18920,2006.01.09 17:30:00,5.0,sell,out,0.1,1.20560,164.0
2,2006-01-10 16:30:00,6.0,EURUSD,buy,in,0.1,1.20760,2006.01.19 01:00:00,7.0,sell,out,0.1,1.21060,30.0
3,2006-01-23 00:45:00,8.0,EURUSD,buy,in,0.1,1.21560,2006.01.24 12:15:00,9.0,sell,out,0.1,1.22680,112.0
4,2006-01-31 10:15:00,10.0,EURUSD,buy,in,0.1,1.21040,2006.02.01 18:15:00,11.0,sell,out,0.1,1.20790,-25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,2010-12-17 07:45:00,694.0,EURUSD,buy,in,0.1,1.33176,2010.12.20 00:45:00,695.0,sell,out,0.1,1.31628,-154.8
347,2010-12-21 08:15:00,696.0,EURUSD,buy,in,0.1,1.32006,2010.12.23 21:15:00,697.0,sell,out,0.1,1.31140,-86.6
348,2010-12-24 13:45:00,698.0,EURUSD,buy,in,0.1,1.31244,2010.12.27 06:45:00,699.0,sell,out,0.1,1.31206,-3.8
349,2010-12-27 11:30:00,700.0,EURUSD,buy,in,0.1,1.31642,2010.12.29 01:00:00,701.0,sell,out,0.1,1.30848,-79.4
350,2010-12-30 02:15:00,702.0,EURUSD,buy,in,0.1,1.32558,2010.12.30 23:59:59,703.0,sell,out,0.1,1.32901,34.3

In [40]:
positions.to_excel('data/positions_buy-EURUSD-m15-2006-2010.xlsx')

In [16]:
file = 'data/EURUSD_H1_200601020000_201012310000.csv'
symbol_data = pd.read_csv(file, sep='\t')

symbol_data

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
0,2006.01.02,00:00:00,1.18490,1.18490,1.18360,1.18400,76,0,20
1,2006.01.02,01:00:00,1.18390,1.18430,1.18360,1.18380,97,0,20
2,2006.01.02,02:00:00,1.18390,1.18500,1.18360,1.18420,95,0,20
3,2006.01.02,03:00:00,1.18440,1.18500,1.18400,1.18410,178,0,20
4,2006.01.02,04:00:00,1.18430,1.18480,1.18350,1.18420,121,0,20
...,...,...,...,...,...,...,...,...,...
30827,2010.12.30,20:00:00,1.32838,1.33042,1.32829,1.32845,2004,0,20
30828,2010.12.30,21:00:00,1.32846,1.32907,1.32790,1.32863,1484,0,20
30829,2010.12.30,22:00:00,1.32864,1.32900,1.32815,1.32900,1041,0,20
30830,2010.12.30,23:00:00,1.32901,1.32926,1.32848,1.32901,767,0,20
30831,2010.12.31,00:00:00,1.32901,1.33012,1.32863,1.33008,890,0,20

In [17]:
symbol_data['Date'] = symbol_data['<DATE>'] + ' ' + symbol_data['<TIME>']
col = symbol_data.pop('Date')
symbol_data.insert(0, "Date", col)
symbol_data.drop(['<DATE>','<TIME>'], axis=1, inplace=True)

In [18]:
atr_symbol_data = talib.ATR(symbol_data['<HIGH>'].values, symbol_data['<LOW>'].values, 
                     symbol_data['<CLOSE>'].values, timeperiod=14)

In [19]:
symbol_data['ATR'] = atr_symbol_data

In [20]:
slowk, slowd = talib.STOCH(symbol_data['<HIGH>'].values, 
                           symbol_data['<LOW>'].values, 
                           symbol_data['<CLOSE>'].values,
                           fastk_period=14, slowk_period=3, slowk_matype=0, 
                           slowd_period=3, slowd_matype=0)
slowk

symbol_data['STOCH slowK'] = slowk

In [21]:
aroondown, aroonup = talib.AROON(symbol_data['<HIGH>'].values, 
                                 symbol_data['<LOW>'].values, 
                                 timeperiod=25)

symbol_data['AROON down'] = aroondown
symbol_data['AROON up'] = aroonup

In [22]:
symbol_data['Date'] = pd.to_datetime(symbol_data['Date'])
symbol_data

,Date,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>,ATR,STOCH slowK,AROON down,AROON up
0,2006-01-02 00:00:00,1.18490,1.18490,1.18360,1.18400,76,0,20,NaN,NaN,NaN,NaN
1,2006-01-02 01:00:00,1.18390,1.18430,1.18360,1.18380,97,0,20,NaN,NaN,NaN,NaN
2,2006-01-02 02:00:00,1.18390,1.18500,1.18360,1.18420,95,0,20,NaN,NaN,NaN,NaN
3,2006-01-02 03:00:00,1.18440,1.18500,1.18400,1.18410,178,0,20,NaN,NaN,NaN,NaN
4,2006-01-02 04:00:00,1.18430,1.18480,1.18350,1.18420,121,0,20,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
30827,2010-12-30 20:00:00,1.32838,1.33042,1.32829,1.32845,2004,0,20,0.002397,58.925926,0.0,80.0
30828,2010-12-30 21:00:00,1.32846,1.32907,1.32790,1.32863,1484,0,20,0.002309,67.888889,0.0,76.0
30829,2010-12-30 22:00:00,1.32864,1.32900,1.32815,1.32900,1041,0,20,0.002205,69.987782,0.0,72.0
30830,2010-12-30 23:00:00,1.32901,1.32926,1.32848,1.32901,767,0,20,0.002103,70.638944,4.0,68.0
30831,2010-12-31 00:00:00,1.32901,1.33012,1.32863,1.33008,890,0,20,0.002059,75.231537,0.0,64.0

In [23]:
pos_atr = np.array([])
pos_stoch_slowk = np.array([])
pos_aroon_down = np.array([])
pos_aroon_up = np.array([])
pos_timeframe_date = np.array([])
row_symbol_data = 0
interval = pd.Timedelta(seconds=1)

for row_positions in positions.index:
    
    for row_symbol_data in range(row_symbol_data, len(symbol_data)+1):

        if row_symbol_data == 0:
            continue
        
        else:
            pos_signal_date = positions.loc[row_positions, 'Entry Date'] - interval
            previous_symbol_date = symbol_data.loc[row_symbol_data - 1, 'Date']
            now_symbol_date = symbol_data.loc[row_symbol_data, 'Date']
        
            if pos_signal_date >= previous_symbol_date and \
                pos_signal_date < now_symbol_date:                
                pos_atr = np.append(pos_atr, 
                                      symbol_data.loc[row_symbol_data-1, 
                                                      'ATR'])
                pos_stoch_slowk = np.append(pos_stoch_slowk, 
                                            symbol_data.loc[row_symbol_data-1,
                                                            'STOCH slowK'])
                pos_aroon_down = np.append(pos_aroon_down,
                                           symbol_data.loc[row_symbol_data-1,
                                                           'AROON down'])
                pos_aroon_up = np.append(pos_aroon_up,
                                         symbol_data.loc[row_symbol_data-1,
                                                         'AROON up'])
                pos_timeframe_date = np.append(pos_timeframe_date,
                                        symbol_data.loc[row_symbol_data-1,
                                                        'Date'])    
                row_symbol_data -= 1            
                break
            
positions['ATR'] = pos_atr
positions['STOCH slowK'] = pos_stoch_slowk
positions['AROON down'] = pos_aroon_down
positions['AROON up'] = pos_aroon_up
positions['TF Date'] = pos_timeframe_date

In [24]:
positions

,Entry Date,Entry Deal,Symbol,Entry Type,Entry Direction,Entry Volume,Entry Price,Exit Date,Exit Deal,Exit Type,Exit Direction,Exit Volume,Exit Price,Exit Profit,ATR,STOCH slowK,AROON down,AROON up,TF Date
0,2006-01-02 03:30:00,2.0,EURUSD,buy,in,0.1,1.18510,2006.01.02 04:30:30,3.0,sell,out,0.1,1.18380,-13.0,NaN,NaN,NaN,NaN,2006-01-02 03:00:00
1,2006-01-02 04:30:30,4.0,EURUSD,sell,in,0.1,1.18380,2006.01.02 09:00:00,5.0,buy,out,0.1,1.18440,-6.0,NaN,NaN,NaN,NaN,2006-01-02 04:00:00
2,2006-01-02 09:00:00,6.0,EURUSD,buy,in,0.1,1.18440,2006.01.02 11:45:00,7.0,sell,out,0.1,1.18450,1.0,NaN,NaN,NaN,NaN,2006-01-02 08:00:00
3,2006-01-02 11:45:00,8.0,EURUSD,sell,in,0.1,1.18450,2006.01.02 16:45:00,9.0,buy,out,0.1,1.18290,16.0,NaN,NaN,NaN,NaN,2006-01-02 11:00:00
4,2006-01-02 16:45:00,10.0,EURUSD,buy,in,0.1,1.18290,2006.01.02 17:00:00,11.0,sell,out,0.1,1.18220,-7.0,0.001403,NaN,NaN,NaN,2006-01-02 16:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10117,2010-12-30 13:15:00,20236.0,EURUSD,sell,in,0.1,1.32510,2010.12.30 13:30:00,20237.0,buy,out,0.1,1.32602,-9.2,0.002041,72.606726,0.0,100.0,2010-12-30 13:00:00
10118,2010-12-30 13:30:00,20238.0,EURUSD,buy,in,0.1,1.32602,2010.12.30 16:45:00,20239.0,sell,out,0.1,1.32657,5.5,0.002041,72.606726,0.0,100.0,2010-12-30 13:00:00
10119,2010-12-30 16:45:00,20240.0,EURUSD,sell,in,0.1,1.32657,2010.12.30 20:00:00,20241.0,buy,out,0.1,1.32858,-20.1,0.002354,82.841148,4.0,96.0,2010-12-30 16:00:00
10120,2010-12-30 20:00:00,20242.0,EURUSD,buy,in,0.1,1.32858,2010.12.30 22:00:00,20243.0,sell,out,0.1,1.32864,0.6,0.002417,53.332758,0.0,84.0,2010-12-30 19:00:00
10121,2010-12-30 22:00:00,20244.0,EURUSD,sell,in,0.1,1.32864,2010.12.30 23:59:59,20245.0,buy,out,0.1,1.32921,-5.7,0.002309,67.888889,0.0,76.0,2010-12-30 21:00:00

In [25]:
positions.dropna(inplace=True)
positions.reset_index(drop=True, inplace=True)
s_stoch_slowk = np.array([])
s_aroon_down = np.array([])
s_aroon_up = np.array([])

for row in positions.index:
    stoch_slowk = positions.loc[row, 'STOCH slowK']
    aroondown = positions.loc[row, 'AROON down']
    aroonup = positions.loc[row, 'AROON up']

    if stoch_slowk > 70:
        s_stoch_slowk = np.append(s_stoch_slowk, 1)
    elif stoch_slowk < 30:
        s_stoch_slowk = np.append(s_stoch_slowk, -1)
    else:
        s_stoch_slowk = np.append(s_stoch_slowk, 0)
        
    if aroondown > 70:
        s_aroon_down = np.append(s_aroon_down, -1)
    else:
        s_aroon_down = np.append(s_aroon_down, 0)
        
    if aroonup > 70:
        s_aroon_up = np.append(s_aroon_up, 1)
    else:
        s_aroon_up = np.append(s_aroon_up, 0)
        
positions['Sentiment STOCH slowK'] = s_stoch_slowk
positions['Sentiment AROON down'] = s_aroon_down
positions['Sentiment AROON up'] = s_aroon_up

In [26]:
positions

,Entry Date,Entry Deal,Symbol,Entry Type,Entry Direction,Entry Volume,Entry Price,Exit Date,Exit Deal,Exit Type,...,Exit Price,Exit Profit,ATR,STOCH slowK,AROON down,AROON up,TF Date,Sentiment STOCH slowK,Sentiment AROON down,Sentiment AROON up
0,2006-01-03 01:15:00,18.0,EURUSD,buy,in,0.1,1.18390,2006.01.03 06:00:00,19.0,sell,...,1.18780,39.0,0.001600,49.155580,68.0,36.0,2006-01-03 01:00:00,0.0,0.0,0.0
1,2006-01-03 06:00:00,20.0,EURUSD,sell,in,0.1,1.18780,2006.01.03 06:15:00,21.0,buy,...,1.18920,-14.0,0.001611,91.561181,52.0,100.0,2006-01-03 05:00:00,1.0,0.0,1.0
2,2006-01-03 06:15:00,22.0,EURUSD,buy,in,0.1,1.18920,2006.01.03 07:45:00,23.0,sell,...,1.18800,-12.0,0.001689,91.475155,48.0,100.0,2006-01-03 06:00:00,1.0,0.0,1.0
3,2006-01-03 07:45:00,24.0,EURUSD,sell,in,0.1,1.18800,2006.01.03 12:00:00,25.0,buy,...,1.18910,-11.0,0.001804,85.097184,44.0,100.0,2006-01-03 07:00:00,1.0,0.0,1.0
4,2006-01-03 12:00:00,26.0,EURUSD,buy,in,0.1,1.18910,2006.01.03 12:30:00,27.0,sell,...,1.18820,-9.0,0.001966,77.430556,28.0,92.0,2006-01-03 11:00:00,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10109,2010-12-30 13:15:00,20236.0,EURUSD,sell,in,0.1,1.32510,2010.12.30 13:30:00,20237.0,buy,...,1.32602,-9.2,0.002041,72.606726,0.0,100.0,2010-12-30 13:00:00,1.0,0.0,1.0
10110,2010-12-30 13:30:00,20238.0,EURUSD,buy,in,0.1,1.32602,2010.12.30 16:45:00,20239.0,sell,...,1.32657,5.5,0.002041,72.606726,0.0,100.0,2010-12-30 13:00:00,1.0,0.0,1.0
10111,2010-12-30 16:45:00,20240.0,EURUSD,sell,in,0.1,1.32657,2010.12.30 20:00:00,20241.0,buy,...,1.32858,-20.1,0.002354,82.841148,4.0,96.0,2010-12-30 16:00:00,1.0,0.0,1.0
10112,2010-12-30 20:00:00,20242.0,EURUSD,buy,in,0.1,1.32858,2010.12.30 22:00:00,20243.0,sell,...,1.32864,0.6,0.002417,53.332758,0.0,84.0,2010-12-30 19:00:00,0.0,0.0,1.0
10113,2010-12-30 22:00:00,20244.0,EURUSD,sell,in,0.1,1.32864,2010.12.30 23:59:59,20245.0,buy,...,1.32921,-5.7,0.002309,67.888889,0.0,76.0,2010-12-30 21:00:00,0.0,0.0,1.0

In [27]:
positions['Exit Profit'] = positions['Exit Profit'].astype(float)

In [28]:
mean_losses = positions['Exit Profit'][(positions['Exit Profit'] < 0)].mean()
abs(mean_losses)
positions['R'] = positions['Exit Profit'] / abs(mean_losses)
mean_losses

-17.382462082167574

In [29]:
mean_ATR = positions['ATR'].mean()
mean_ATR

0.0025625214339041677

In [30]:
std_ATR = positions['ATR'].std()
std_ATR

0.0011642865770109345

In [31]:
upper_ATR = mean_ATR + std_ATR
lower_ATR = mean_ATR - std_ATR

for row in positions.index:
    if positions.loc[row,  'ATR'] >= upper_ATR:
        positions.loc[row, 'Sentiment ATR'] = 'High Volatility'
    elif positions.loc[row,  'ATR'] <= lower_ATR:
        positions.loc[row, 'Sentiment ATR'] = 'Low Volatility'
    else:
        positions.loc[row, 'Sentiment ATR'] = 'Medium Volatility'
        
positions

,Entry Date,Entry Deal,Symbol,Entry Type,Entry Direction,Entry Volume,Entry Price,Exit Date,Exit Deal,Exit Type,...,ATR,STOCH slowK,AROON down,AROON up,TF Date,Sentiment STOCH slowK,Sentiment AROON down,Sentiment AROON up,R,Sentiment ATR
0,2006-01-03 01:15:00,18.0,EURUSD,buy,in,0.1,1.18390,2006.01.03 06:00:00,19.0,sell,...,0.001600,49.155580,68.0,36.0,2006-01-03 01:00:00,0.0,0.0,0.0,2.243641,Medium Volatility
1,2006-01-03 06:00:00,20.0,EURUSD,sell,in,0.1,1.18780,2006.01.03 06:15:00,21.0,buy,...,0.001611,91.561181,52.0,100.0,2006-01-03 05:00:00,1.0,0.0,1.0,-0.805409,Medium Volatility
2,2006-01-03 06:15:00,22.0,EURUSD,buy,in,0.1,1.18920,2006.01.03 07:45:00,23.0,sell,...,0.001689,91.475155,48.0,100.0,2006-01-03 06:00:00,1.0,0.0,1.0,-0.690351,Medium Volatility
3,2006-01-03 07:45:00,24.0,EURUSD,sell,in,0.1,1.18800,2006.01.03 12:00:00,25.0,buy,...,0.001804,85.097184,44.0,100.0,2006-01-03 07:00:00,1.0,0.0,1.0,-0.632822,Medium Volatility
4,2006-01-03 12:00:00,26.0,EURUSD,buy,in,0.1,1.18910,2006.01.03 12:30:00,27.0,sell,...,0.001966,77.430556,28.0,92.0,2006-01-03 11:00:00,1.0,0.0,1.0,-0.517763,Medium Volatility
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10109,2010-12-30 13:15:00,20236.0,EURUSD,sell,in,0.1,1.32510,2010.12.30 13:30:00,20237.0,buy,...,0.002041,72.606726,0.0,100.0,2010-12-30 13:00:00,1.0,0.0,1.0,-0.529269,Medium Volatility
10110,2010-12-30 13:30:00,20238.0,EURUSD,buy,in,0.1,1.32602,2010.12.30 16:45:00,20239.0,sell,...,0.002041,72.606726,0.0,100.0,2010-12-30 13:00:00,1.0,0.0,1.0,0.316411,Medium Volatility
10111,2010-12-30 16:45:00,20240.0,EURUSD,sell,in,0.1,1.32657,2010.12.30 20:00:00,20241.0,buy,...,0.002354,82.841148,4.0,96.0,2010-12-30 16:00:00,1.0,0.0,1.0,-1.156338,Medium Volatility
10112,2010-12-30 20:00:00,20242.0,EURUSD,buy,in,0.1,1.32858,2010.12.30 22:00:00,20243.0,sell,...,0.002417,53.332758,0.0,84.0,2010-12-30 19:00:00,0.0,0.0,1.0,0.034518,Medium Volatility
10113,2010-12-30 22:00:00,20244.0,EURUSD,sell,in,0.1,1.32864,2010.12.30 23:59:59,20245.0,buy,...,0.002309,67.888889,0.0,76.0,2010-12-30 21:00:00,0.0,0.0,1.0,-0.327917,Medium Volatility

In [32]:
positions.to_excel('data/positions_sentiment-EURUSD-m15-2006-2010.xlsx')

In [25]:
symbol_data.to_excel('data/symbol_data_sentiment-EURUSD_v2.xlsx')