Importando libraries

In [2]:
import pandas as pd
import numpy as np
import talib
from funcoes_preco import organize_data, get_efficiency_ratio, get_stats
import dwx_query
from datetime import datetime, timedelta

In [2]:
files_dir = 'C:/Users/guicr/AppData/Roaming/MetaQuotes/Terminal/'\
            'D0E8209F77C8CF37AD8BF550E51FF075/MQL5/Files/'
symbol = 'Bra50Feb22'
timeframe = 'M5'
start = datetime(2022, 1, 1).timestamp()
end = datetime(2022, 1, 29).timestamp()

In [3]:
data = dwx_query.inform_historic_data(files_dir, symbol, timeframe, start, end)

Bra50Feb22_M5
historic_data: Bra50Feb22 M5 2260 bars

In [6]:
symbol_data = pd.DataFrame(data, columns=['Date', 'Open', 'High', 'Low', 'Close', 
                                          'Tick Volume', 'Real Volume'])

In [7]:
symbol_data

,Date,Open,High,Low,Close,Tick Volume,Real Volume
0,2022.01.03 13:00,106380.0,106445.0,106255.0,106260.0,939.0,0.0
1,2022.01.03 13:05,106255.0,106325.0,106225.0,106280.0,592.0,0.0
2,2022.01.03 13:10,106285.0,106540.0,106275.0,106460.0,829.0,0.0
3,2022.01.03 13:15,106460.0,106460.0,106295.0,106370.0,726.0,0.0
4,2022.01.03 13:20,106375.0,106465.0,106285.0,106425.0,700.0,0.0
...,...,...,...,...,...,...,...
2255,2022.01.28 22:00,112255.0,112350.0,112180.0,112270.0,1005.0,0.0
2256,2022.01.28 22:05,112270.0,112380.0,112260.0,112315.0,552.0,0.0
2257,2022.01.28 22:10,112305.0,112340.0,112205.0,112230.0,623.0,0.0
2258,2022.01.28 22:15,112230.0,112330.0,112225.0,112270.0,765.0,0.0
2259,2022.01.28 22:20,112270.0,112345.0,112250.0,112310.0,518.0,0.0

In [17]:
eqty_table = symbol_data.copy()

In [19]:
pct_change = eqty_table['Close'].pct_change()
eqty_table['Percent Change'] = pct_change

In [13]:
timeperiod = 15
er_period = 8
er_mean_period = 160
cci_period = 20
sma_fast_period, sma_medium_period, sma_slow_period = 40, 80, 160
skew_period = 15
kurt_period = 40
p_open = symbol_data['Open']
p_high = symbol_data['High']
p_low = symbol_data['Low']
p_close = symbol_data['Close']
p_tick_volume = symbol_data['Tick Volume']
p_real_volume = symbol_data['Real Volume']

In [14]:
efficiency_ratio = get_efficiency_ratio(p_close, er_period, 
                                                 er_mean_period)
stats = get_stats(p_close, timeperiod)
pct_change = p_close.pct_change()
sma_fast = talib.SMA(p_close, timeperiod=sma_fast_period)
sma_medium = talib.SMA(p_close, timeperiod=sma_medium_period)
sma_slow = talib.SMA(p_close, timeperiod=sma_slow_period)
cci = talib.CCI(p_high, p_low, p_close, timeperiod=cci_period)

In [15]:
eqty_table = pd.DataFrame(zip(symbol_data['Date'], p_open, p_high, p_low,
                              p_close, p_tick_volume, p_real_volume ,pct_change, 
                              efficiency_ratio['efficiency_ratio'], efficiency_ratio['er_mean'], stats['mean'], stats['std'],
                              stats['skewness'], stats['kurtosis']),
                          columns=['Date', 'Open', 'High', 'Low', 'Close', 
                                   'Tick Volume', 'Real Volume' ,'Percent Change', 
                                   'Efficiency Ratio','Efficiency Ratio Mean', 
                                   'Mean', 'Stdev', 'Skew', 'Kurtosis'])

eqty_table[f'SMA_{sma_fast_period}'] = sma_fast
eqty_table[f'SMA_{sma_medium_period}'] = sma_medium
eqty_table[f'SMA_{sma_slow_period}'] = sma_slow
eqty_table[f'CCI_{cci_period}'] = cci

In [16]:
eqty_table

,Date,Open,High,Low,Close,Tick Volume,Real Volume,Percent Change,Efficiency Ratio,Efficiency Ratio Mean,Mean,Stdev,Skew,Kurtosis,SMA_40,SMA_80,SMA_160,CCI_20
0,2022.01.03 13:00,106380.0,106445.0,106255.0,106260.0,939.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022.01.03 13:05,106255.0,106325.0,106225.0,106280.0,592.0,0.0,0.000188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.01.03 13:10,106285.0,106540.0,106275.0,106460.0,829.0,0.0,0.001694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022.01.03 13:15,106460.0,106460.0,106295.0,106370.0,726.0,0.0,-0.000845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022.01.03 13:20,106375.0,106465.0,106285.0,106425.0,700.0,0.0,0.000517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255,2022.01.28 22:00,112255.0,112350.0,112180.0,112270.0,1005.0,0.0,0.000045,0.190476,0.360050,112260.666667,88.296219,-0.210025,-1.018402,112224.875,112380.4375,112562.62500,41.895530
2256,2022.01.28 22:05,112270.0,112380.0,112260.0,112315.0,552.0,0.0,0.000401,0.119403,0.355898,112272.333333,82.983265,-0.453866,-0.609619,112230.250,112371.1250,112557.15625,68.840580
2257,2022.01.28 22:10,112305.0,112340.0,112205.0,112230.0,623.0,0.0,-0.000757,0.282609,0.353570,112267.000000,82.961839,-0.276190,-0.701297,112234.000,112364.4375,112551.09375,20.709276
2258,2022.01.28 22:15,112230.0,112330.0,112225.0,112270.0,765.0,0.0,0.000356,0.274725,0.350990,112261.333333,79.592015,-0.188928,-0.470438,112237.000,112358.5625,112545.56250,27.140627
2259,2022.01.28 22:20,112270.0,112345.0,112250.0,112310.0,518.0,0.0,0.000356,0.250000,0.347327,112260.666667,79.138416,-0.178578,-0.428985,112238.375,112351.3750,112540.34375,48.819528

In [1]:
x = list(range(10, 23))
x

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [3]:
base = 5
rounds = []
for number in x:
    element = base * np.ceil(number / base)
    rounds.append(element)
rounds

[10.0, 15.0, 15.0, 15.0, 15.0, 15.0, 20.0, 20.0, 20.0, 20.0, 20.0, 25.0, 25.0]