Importando libraries

In [1]:
import pandas as pd
import numpy as np
import talib
from funcoes_preco import organize_data, get_efficiency_ratio, get_stats
import plotly.express as px

In [2]:
file = 'data/Bra50Feb22_M5_202201261300_202201281500.csv'

In [3]:
symbol_data = organize_data(file)

In [4]:
symbol_data

,Date,Open,High,Low,Close,TickVolume,Volume,Spread
0,2022-01-26 13:00:00,111500,111825,111440,111795,1290,0,5
1,2022-01-26 13:05:00,111795,111850,111670,111695,940,0,5
2,2022-01-26 13:10:00,111700,111720,111490,111500,699,0,5
3,2022-01-26 13:15:00,111505,111635,111470,111595,855,0,5
4,2022-01-26 13:20:00,111595,111795,111595,111745,926,0,5
...,...,...,...,...,...,...,...,...
246,2022-01-28 14:40:00,113375,113460,113285,113305,1274,0,5
247,2022-01-28 14:45:00,113310,113330,113090,113110,1286,0,5
248,2022-01-28 14:50:00,113100,113145,113000,113090,1168,0,5
249,2022-01-28 14:55:00,113080,113235,113035,113190,1090,0,5
250,2022-01-28 15:00:00,113190,113200,113005,113005,500,0,5

In [5]:
timeperiod = 20
er_mean_period = 160
sma_fast_period, sma_medium_period, sma_slow_period = 40, 80, 160
p_open = symbol_data['Open']
p_high = symbol_data['High']
p_low = symbol_data['Low']
p_close = symbol_data['Close']

In [6]:
efficiency_ratio, er_mean = get_efficiency_ratio(p_close, timeperiod, 
                                                 er_mean_period)
mean, stdev, skew, kurtosis = get_stats(p_close, timeperiod)
pct_change = p_close.pct_change()
sma_fast = talib.SMA(p_close, timeperiod=sma_fast_period)
sma_medium = talib.SMA(p_close, timeperiod=sma_medium_period)
sma_slow = talib.SMA(p_close, timeperiod=sma_slow_period)

In [7]:
eqty_table = pd.DataFrame(zip(symbol_data['Date'], p_open, p_high, p_low,
                              p_close, pct_change, 
                              efficiency_ratio, er_mean, mean, stdev, skew, 
                              kurtosis),
                          columns=['Date', 'Open', 'High', 'Low', 'Close', 
                                   'Percent Change', 
                                   'Efficiency Ratio','Efficiency Ratio Mean', 
                                   'Mean', 'Stdev', 'Skew', 'Kurtosis'])

eqty_table[f'SMA_{sma_fast_period}'] = sma_fast
eqty_table[f'SMA_{sma_medium_period}'] = sma_medium
eqty_table[f'SMA_{sma_slow_period}'] = sma_slow

In [8]:
eqty_table

,Date,Open,High,Low,Close,Percent Change,Efficiency Ratio,Efficiency Ratio Mean,Mean,Stdev,Skew,Kurtosis,SMA_40,SMA_80,SMA_160
0,2022-01-26 13:00:00,111500,111825,111440,111795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-26 13:05:00,111795,111850,111670,111695,-0.000894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-26 13:10:00,111700,111720,111490,111500,-0.001746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-26 13:15:00,111505,111635,111470,111595,0.000852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-01-26 13:20:00,111595,111795,111595,111745,0.001344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2022-01-28 14:40:00,113375,113460,113285,113305,-0.000661,0.300395,0.211505,112641.25,339.605930,1.015007,-0.058689,112734.500,112775.5625,112758.09375
247,2022-01-28 14:45:00,113310,113330,113090,113110,-0.001721,0.204420,0.211856,112669.00,353.802911,0.778880,-0.630554,112749.375,112770.9375,112761.53125
248,2022-01-28 14:50:00,113100,113145,113000,113090,-0.000177,0.148936,0.212671,112688.25,365.517698,0.624576,-0.980253,112761.500,112767.1875,112763.15625
249,2022-01-28 14:55:00,113080,113235,113035,113190,0.000884,0.248031,0.213233,112719.75,379.968666,0.423769,-1.300851,112772.750,112764.8750,112764.31250
250,2022-01-28 15:00:00,113190,113200,113005,113005,-0.001634,0.257937,0.214735,112752.25,375.148221,0.247705,-1.370715,112779.625,112759.9375,112766.40625