Importando libraries

In [1]:
import pandas as pd
import numpy as np
import talib
from funcoes_preco import organize_data, get_efficiency_ratio, get_stats
import plotly.express as px

In [2]:
file = 'data/Bra50Feb22_M5_202201261300_202201282220.csv'

In [3]:
symbol_data = organize_data(file)

In [4]:
symbol_data

,Date,Open,High,Low,Close,TickVolume,Volume,Spread
0,2022-01-26 13:00:00,111500,111825,111440,111795,1290,0,5
1,2022-01-26 13:05:00,111795,111850,111670,111695,940,0,5
2,2022-01-26 13:10:00,111700,111720,111490,111500,699,0,5
3,2022-01-26 13:15:00,111505,111635,111470,111595,855,0,5
4,2022-01-26 13:20:00,111595,111795,111595,111745,926,0,5
...,...,...,...,...,...,...,...,...
334,2022-01-28 22:00:00,112255,112350,112180,112270,1005,0,5
335,2022-01-28 22:05:00,112270,112380,112260,112315,552,0,5
336,2022-01-28 22:10:00,112305,112340,112205,112230,623,0,5
337,2022-01-28 22:15:00,112230,112330,112225,112270,765,0,5
338,2022-01-28 22:20:00,112270,112345,112250,112310,518,0,5

In [5]:
timeperiod = 20
er_period = 8
er_mean_period = 160
cci_period = 15
sma_fast_period, sma_medium_period, sma_slow_period = 40, 80, 160
skew_period = 15
kurt_period = 40
p_open = symbol_data['Open']
p_high = symbol_data['High']
p_low = symbol_data['Low']
p_close = symbol_data['Close']

In [6]:
efficiency_ratio, er_mean = get_efficiency_ratio(p_close, er_period, 
                                                 er_mean_period)
mean, stdev, skew, kurtosis = get_stats(p_close, timeperiod)
pct_change = p_close.pct_change()
sma_fast = talib.SMA(p_close, timeperiod=sma_fast_period)
sma_medium = talib.SMA(p_close, timeperiod=sma_medium_period)
sma_slow = talib.SMA(p_close, timeperiod=sma_slow_period)
cci = talib.CCI(p_high, p_low, p_close, timeperiod=cci_period)

In [7]:
eqty_table = pd.DataFrame(zip(symbol_data['Date'], p_open, p_high, p_low,
                              p_close, pct_change, 
                              efficiency_ratio, er_mean, mean, stdev, skew, 
                              kurtosis),
                          columns=['Date', 'Open', 'High', 'Low', 'Close', 
                                   'Percent Change', 
                                   'Efficiency Ratio','Efficiency Ratio Mean', 
                                   'Mean', 'Stdev', 'Skew', 'Kurtosis'])

eqty_table[f'SMA_{sma_fast_period}'] = sma_fast
eqty_table[f'SMA_{sma_medium_period}'] = sma_medium
eqty_table[f'SMA_{sma_slow_period}'] = sma_slow
eqty_table[f'CCI_{cci_period}'] = cci

In [8]:
eqty_table

,Date,Open,High,Low,Close,Percent Change,Efficiency Ratio,Efficiency Ratio Mean,Mean,Stdev,Skew,Kurtosis,SMA_40,SMA_80,SMA_160
0,2022-01-26 13:00:00,111500,111825,111440,111795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-26 13:05:00,111795,111850,111670,111695,-0.000894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-26 13:10:00,111700,111720,111490,111500,-0.001746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-26 13:15:00,111505,111635,111470,111595,0.000852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-01-26 13:20:00,111595,111795,111595,111745,0.001344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,2022-01-28 22:00:00,112255,112350,112180,112270,0.000045,0.168317,0.177723,112208.25,127.036166,-0.469061,-0.654482,112224.875,112380.4375,112562.62500
335,2022-01-28 22:05:00,112270,112380,112260,112315,0.000401,0.215686,0.177720,112224.75,118.083392,-0.631134,-0.228296,112230.250,112371.1250,112557.15625
336,2022-01-28 22:10:00,112305,112340,112205,112230,-0.000757,0.177215,0.177508,112238.75,99.873357,-0.425451,-0.327085,112234.000,112364.4375,112551.09375
337,2022-01-28 22:15:00,112230,112330,112225,112270,0.000356,0.171975,0.178490,112252.25,83.613321,-0.046973,-1.008591,112237.000,112358.5625,112545.56250
338,2022-01-28 22:20:00,112270,112345,112250,112310,0.000356,0.100346,0.178930,112259.50,82.004573,-0.238028,-0.862222,112238.375,112351.3750,112540.34375